<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head', { title: 'Task Manager - Login' }) %>
  </head>
  <body class="login-body">
    <main class="container login-container"><%- body %></main>
    <section class="login-section">
      <h2>Login to Task Manager</h2>
      <form action="/auth/google" method="get">
        <button type="submit" class="btn btn-google">Login with Google</button>
      </form>
    </section>
  </body>
</html>
